@model IEnumerable<Medictionary.Models.StockiestMedicine>

@{
    ViewData["Title"] = "Inventory";
}

@{
    Layout = "_StockiestLayout";
}
<h2>Inventory</h2>

<table class="table">
    <thead>
        <tr>
            <th>Medicine Name</th>
            <th>Quantity</th>
            <th>Added Date</th>
            <th>Stockiest</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Medicine.Name</td>
                <td>@item.Quantity</td>
                <td>@item.AddedDate.ToString("yyyy-MM-dd")</td>
                <td>@item.Stockiest.Name</td>
            </tr>
        }
    </tbody>
</table>