@{
    ViewData["Title"] = "Home Page";
}

@{
    Layout = "_Layout";
}

<div class="text-center">
    <h1 class="display-4">Dynamic Industry Details</h1>
</div>

@await Component.InvokeAsync("HomeIndustry")